@import "tailwindcss";
@import "../node_modules/flowbite-vue/dist/index.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
}

@theme {
    --color-primary: #207A3Cff;
    --color-primary-100: #0D2B17ff;
  }